/*names of the week rules*/

aside > h2 {
    font-size: 22px;
    color:rgb(100, 66, 99);
    font-weight: bold;
    padding: 15px 10px 5px 5px;
}

aside > ol {
    font-family: Helvetica,Arial,Sans-serif;
    font-weight: bold;
    display: inline-block;
    padding: 15px 40px;
    padding-block-end: 10px;
}

.boys {
    color:rgb(56, 98, 236);
}

.girls {
    color:rgb(236, 65, 145);
}